@model ProductDetailsModel
@if (!string.IsNullOrWhiteSpace(Model.StockAvailability) || Model.DisplayBackInStockSubscription)
{
    if (!string.IsNullOrWhiteSpace(Model.StockAvailability))
    {
        <li><a href="#"><span>@T("Products.Availability")</span> : <span class="value" id="stock-availability-value-@Model.Id">@Model.StockAvailability</span></a></li>
    }

    await Html.PartialAsync("_BackInStockSubscription", Model);
}