@model ProductDetailsModel

@{
    var addtocomparelink = Url.RouteUrl("AddProductToCompare", new { productId = Model.Id });
}

@if (Model.CompareProductsEnabled)
{
    <a class="icon_btn d-flex align-items-center justify-content-center" href="" onclick="event.preventDefault();AjaxCart.addproducttocomparelist('@addtocomparelink');return false;"><i class="lnr lnr lnr-sync"></i></a>
}