@model ProductDetailsModel

@if (Model.EmailAFriendEnabled)
{
    <a class="icon_btn" href="" onclick="event.preventDefault();setLocation('@Url.RouteUrl("ProductEmailAFriend", new { productId = Model.Id })');return false;"><i class="lnr lnr lnr-envelope"></i></a>
}
