@{
    Layout = "_Root";

    //page class
    Html.AppendPageCssClassParts("html-home-page");
}
<div class="page home-page">
    <div class="page-body">
        <!-- start features Area -->
        <section class="features-area section_gap">
            <div class="container">
                <div class="row features-inner">
                    <!-- single features -->
                    <div class="col-lg-4 col-md-12 col-sm-12">
                        <div class="single-features">
                            <div class="f-icon">
                                <img src="https://img.icons8.com/ios/50/000000/globe.png">
                            </div>
                            <h6>Certificat</h6>
                            <p>Firma de incredere</p>
                        </div>
                    </div>
                    <!-- single features -->
                    <div class="col-lg-4 col-md-12 col-sm-12">
                        <div class="single-features">
                            <div class="f-icon">
                                <img src="img/features/f-icon4.png" alt="">
                            </div>
                            <h6>Activitate</h6>
                            <p>Din anul 1992</p>
                        </div>
                    </div>
                    <!-- single features -->
                    <div class="col-lg-4 col-md-12 col-sm-12">
                        <div class="single-features">
                            <div class="f-icon">
                                <img src="https://img.icons8.com/ios/50/000000/globe.png">
                            </div>
                            <h6>Premiu</h6>
                            <p>Diploma Excelenta 2019</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- end features Area -->
        <!-- start description Area -->
        <section class="features-area section_gap">
            <div class="container">
                <h3 class="text-center mb-3"><b>S.C. Protect Kronos Impex S.R.L.</b></h3>
                <p>
                    Producator de echipamente de protectie si haine de lucru, este o societate cu raspundere limitata cu capital integral privat, care activeaza pe piata de profil din Romania inca din anul 1992. Colaborarea cu companii mari impune o continua imbunatatire si diversificare a produselor oferite acestor beneficiari si o continua perfectionare a modului de lucru in cadrul firmei noastre. Are implementate si mentine sisteme de management al calitatii in conformitate cu cerintele standardelor SR EN ISO 9001:2008, SR EN ISO 14001:2005 si SR EN ISO 18001:2008 atestate de catre Societatea Romana pentru Certificare Rocert in domeniul confectionarii de echipamente de protectie a muncii, haine de lucru si alte confectii.
                </p>
            </div>
        </section>
        <!-- end description Area -->
        <!-- Start category Area -->
        @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.HomepageBeforeCategories })
        @await Component.InvokeAsync("HomepageCategories")
        <!-- End category Area -->
        <!-- start product Area -->
        <section class="owl-carousel active-product-area section_gap">
            <!-- single product slide -->
            @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.HomepageBeforeProducts })
            @await Component.InvokeAsync("HomepageProducts")
            <!-- single product slide -->
            @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.HomepageBeforeBestSellers })
            @await Component.InvokeAsync("HomepageBestSellers")
        </section>
        <!-- end product Area -->
        <!--================Blog Categorie Area =================-->
        <!--================Blog Categorie Area =================-->
    </div>
</div>
