@model CategoryNavigationModel
@if (Model.Categories.Count > 0)
{
    <div class="sidebar-categories">
        <div class="head">@T("Categories")</div>
        <ul class="main-categories">
            @foreach (var category in Model.Categories)
            {
                var categoryLineModel = new CategoryNavigationModel.CategoryLineModel
                {
                    CurrentCategoryId = Model.CurrentCategoryId,
                    Category = category
                };
                @await Html.PartialAsync("_CategoryLine.Navigation", categoryLineModel)
            }
        </ul>
    </div>
}