@model AccountActivationModel
@{
    Layout = "_ColumnsOne";

    //title
    Html.AddTitleParts(T("PageTitle.AccountActivation").Text);
    //page class
    Html.AppendPageCssClassParts("html-account-activation-page");
}

<!--product breadcrumb-->
@section Breadcrumb
{
    @Html.BuildBreadcrumbNavigation()
}

<section class="d-flex align-content-center justify-content-center pl-5">
    <div class="row">
        <h3 class="text-center">@T("Account.AccountActivation")</h3>
        <div class="row mt-5">
            <h5 class="text-center">
                @Model.Result
            </h5>
        </div>
    </div>
</section>
