@model ChangePasswordModel
@{
    Layout = "_ColumnsTwo";

    //title
    Html.AddTitleParts(T("PageTitle.Account").Text);
    //page class
    Html.AppendPageCssClassParts("html-account-page");
    Html.AppendPageCssClassParts("html-change-password-page");
}
@section left
{
    @await Component.InvokeAsync("CustomerNavigation", new { selectedTabId = CustomerNavigationEnum.ChangePassword })
}

<!--product breadcrumb-->
@section Breadcrumb
{
    @Html.BuildBreadcrumbNavigation()
}

<section class="d-flex align-content-center justify-content-center">
    <div class="row">
        <form asp-route="CustomerChangePassword" method="post" class="login_form">
            <div asp-validation-summary="ModelOnly" class="message-error"></div>
            <h3 class="text-center">@T("Account.ChangePassword")</h3>
            @if (!string.IsNullOrEmpty(Model.Result))
            {
                <div class="row mt-5">
                    <h5 class="text-center">
                        @Model.Result
                    </h5>
                </div>
            }
            <div class="row mt-3">
                <div class="col-lg-12 col-md-12 col-sm-12 form-group">
                    <input asp-for="OldPassword" class="form-control" placeholder="Old Password" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Old Password'" />
                    <span asp-validation-for="OldPassword"></span>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 form-group">
                    <input asp-for="NewPassword" class="form-control" placeholder="New Password" onfocus="this.placeholder = ''" onblur="this.placeholder = 'New Password'" />
                    <span asp-validation-for="NewPassword"></span>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 form-group">
                    <input asp-for="ConfirmNewPassword" class="form-control" placeholder="Confirm Password" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Confirm Password'" />
                    <span asp-validation-for="ConfirmNewPassword"></span>
                </div>
            </div>
            <div class="row mt-3 text">
                <div class="col-md-12 form-group">
                    <button type="submit" class="primary-btn">@T("Account.ChangePassword.Button")</button>
                </div>
            </div>
        </form>
    </div>
</section>