@model CatalogPagingFilteringModel

<div class="sorting">
    @*sorting*@
    @if (Model.AllowProductSorting)
    {
        @Html.DropDownList("products-orderby", Model.AvailableSortOptions, new { onchange = "setLocation(this.value);", aria_label = T("Catalog.OrderBy.Label") })
    }
</div>
<div class="sorting mr-auto">
    @*page size*@
    @if (Model.AllowCustomersToSelectPageSize)
    {
        @Html.DropDownList("products-pagesize", Model.PageSizeOptions, new { onchange = "setLocation(this.value);", aria_label = T("Catalog.PageSize.Label") })
    }
</div>
@{
    var pager = Html.Pager(Model).QueryParam("pagenumber");
}
@if (!pager.IsEmpty())
{
    <div class="pagination">
        @pager
    </div>
}